
{% extends "layout.html" %}
{% block body %}

       
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename ='assets/img/about-bg.jpg')}}')">

            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                      <p></p>

                      <h1>About Me </h1>

Hi, I'm an Innovative Coder — a passionate tech enthusiast who loves turning creative ideas into powerful digital solutions.
With a mindset built around curiosity, problem-solving, and innovation, I believe coding is not just about writing lines — it's about creating meaningful impact.

I specialize in designing efficient, scalable, and user-centric applications, blending the latest technologies with fresh thinking.
Whether it's building a sleek website, crafting a smart backend, or exploring new tech trends, I’m always ready to push the boundaries of what's possible.

Let's innovate, code, and create the future together.


                    </div>
                </div>
            </div>
        </main>
       
    
{% endblock %}