{% extends 'layout.html' %}
{% block body %}

<!-- Header section with image and post title -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/' + post.image_file) }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.tagline }}</h2>
                    <span class="meta">
                        Posted by Admin on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</article>

{% endblock %}
